
<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Beginning:</strong>
  <%= @event.beginning.strftime('%I:%M%p') %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end.strftime('%I:%M%p') %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @event.restaurant.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', root_path %>


<%= render 'follow/follow_event_form' %>

